* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Staatliches", cursive;
  color: #141414;
  background-color: #141414;
}

/* WELCOME SECTION */

#welcome-section {
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}

#welcome-section .welcome-heading {
  font-size: 10rem;
  padding-top: 0;
  text-align: center;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

#welcome-section .sub-heading {
  font-size: 5rem;
  animation: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  text-align: center;
}

/* BUTTON STYLING */

.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  /* margin-top: 2rem; */
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  font-size: 1.6rem;
  z-index: 999;
}

#contact > a,
#projects > a {
  margin-top: 1rem;
}

a:hover {
  transform: translateY(-3px);
}

a:active {
  transform: translateY(-1px);
}

.btn--black:hover {
  transform: rotate(-5deg) !important;
  border-radius: 0;
  color: #141414;
  background-color: #efefef;
  transform: translateY(-3px); 
}

.btn--black:active {
  transform: translateY(-1px);
}

.btn--white:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}

.btn--white:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #efefef;
  color: #141414;
}

.btn--black {
  background-color: #141414;
  color: #efefef;
  text-align: center;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

/* ANIMATION KEY FRAMES */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* PROJECTS SECTION */

main {
  background-color: #efefef;
  margin: 2rem;
  padding: 2rem;
  border-radius: 8px;
}

.scene {
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  background-color: #141414;
  padding: 2rem 2rem 6rem 2rem;
  perspective: 600px;
  height: 95vh;
}

.card {
  
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  /* clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%); */
  margin-top: 6rem;
  /* margin-bottom: 6rem; */
  padding-bottom: 5rem;
  width: 100%;
  height: 100%;
  background-color: #efefef;
}

.card__face--back {
  /* clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%); */
  background-color: #efefef;
  transform: rotateY(180deg);
}

/* SCENE */
#projects {
  /* width: 100%;
  height: 900px;
  perspective: 600px;
  padding-bottom: 8rem; */
  background-color: orange;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  width: 200px;
  height: 260px;
  border: 1px solid #CCC;
  margin: 40px 0;
  perspective: 600px;
  
}

/* CARD */
.projects-div {
  /* align-items: center;
  color: #efefef; */
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.projects-div.is-flipped {
    transform: rotateY(180deg);
}

/* FRONT */
.professional-projects {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* BACK */
.university-projects {
  background-color: red;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

/* .githublogo {

  padding-left: 50%;
  transform: translate(-50%, -50%);
} */

#projects h1 {
  color: #efefef;
  font-size: 5rem;
  padding-top: 5rem;
  text-align: center;
  padding-bottom: 1rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 80%;
  grid-gap: 2rem;
  padding: 5rem 2rem 5rem 2rem;
}

.project-tile {
  padding-bottom: 0;
  margin-bottom: 0;
  width: 100%;
}

.project-title {
  color: #efefef;
  text-align: center;
  width: 100%;
  font-size: 2em;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  border-radius: 10rem;
}

/* ABOUT SECTION */

#about-section {
  background-color: #141414;
  padding: 2rem 2rem 6rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #efefef;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.about-me {
  background-color: #efefef;
  margin-top: 6rem;
  /* margin-bottom: 6rem; */
  padding-bottom: 5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#141414;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.about-me h1 {
  color: #141414;
  padding-top: 5rem;
  font-size: 5rem;
  text-align: center;
}

.about-me-wrapper {
  display: flex;
  padding: 2rem;
}

.about-me p {
  color: #141414;
  padding: 1rem 2rem;
  font-size: 1.6rem;
}

.profile-pic {
  padding: 1rem 2rem;
}


/* CONTACT SECTION */

#contact {
  /* background-image: url(images/sBG2.jpg); */
  /* background-repeat: no-repeat; */
  /* background-size: 100% 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #141414;
  background-color: #efefef;
}

/* #bottom-triangle {
  height: 10rem;
  clip-path: polygon(0 50%, 0 100%, 100% 100%, 100% 0);
  z-index: 888;
  background-color: #141414; 
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
} */

.contact-details {
  margin-bottom: 2em;
  padding-right: 5px;
  padding-left: 5px;
}

/* FOOTER */

#footer {
  color: #efefef;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 2rem;
}

/* MEDIA QUERIES */

@media (max-width: 26em) {
  :root {
    font-size: 8px;
  }

  #projects h1 {
    padding-top: 15rem;
  }

  main {
    margin: 0;
    padding: 0;
  }

  /* #navbar {
    justify-content: center;
    height: 50px;
  }

  .nav-list {
    padding-left: 0;
    margin-left: 0;
  } */

  .btn {
    font-size: 2.5rem;
  }

  .project-title {
    font-size: 4rem;
  }

  .contact-div {
    width: 80%;
    flex-direction: column;
  }

  footer {
    font-size: 2.8rem;
    margin: 0;
  }
}

@media (max-width: 23.5em) {

  .projects-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 5rem 0;
  }
  .project-title {
    font-size: 3.75rem;
  }
  .contact-heading {
    padding-top: 16rem;
  }
}
