/* BUTTON STYLING */

.btn {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  margin-top: 4rem;
  display: inline-block;
  transition: all 0.2s;
  font-size: 1.6rem;
  z-index: 1;
  text-align: center;

  &--white:hover {
    color: $color-dark;
    transform: translateY(-3px);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
  }

  &--white:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &--white {
    background-color: $color-light;
    color: $color-dark;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
