/* FOOTER */

footer {
  color: $color-light;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 2rem;
  p {
    font-family: "Staatliches", sans-serif;
  }
}
