/* LINK STYLING */

a {
  cursor: pointer;
  text-decoration: underline;
  color: #141414;
}

.a--white {
  font-size: 1.5rem;
  text-decoration: none;
  color: #efefef;
}

.a--black {
  font-size: 1.5rem;
  text-decoration: none;
  color: #141414;
  margin-left: 4.5rem;
}

a:hover {
  transform: translateY(-3px);
  transition: all 0.5s;
  color: rgb(156, 49, 49);
}

.a--white:hover,
.a--black:hover {
  text-decoration: underline;
}

a:active {
  transform: translateY(-1px);
}
