/* MEDIA QUERIES */

@media (max-width: 26em) {
  :root {
    font-size: 8px;
  }

  #projects h1 {
    padding-top: 15rem;
  }

  main {
    margin: 0;
    padding: 0;
  }

  .btn {
    font-size: 2.5rem;
  }

  .project-title {
    font-size: 4rem;
  }

  .contact-div {
    width: 80%;
    flex-direction: column;
  }

  footer {
    font-size: 2.8rem;
    margin: 0;
  }
  .section__contact form {
    width: 90%;
    margin: 3rem auto;
  }
  .project-div__links {
    margin-top: 2rem;
  }
}

@media (max-width: 45em) {
  .project-title {
    font-size: 3.75rem;
  }
  .contact-heading {
    padding-top: 16rem;
  }
  #profile-link {
    padding-top: 2rem;
  }
  .flexbox-row {
    flex-direction: column;
  }
  .section__welcome {
    min-height: 90vh;
  }
  .section__projects .project-div {
    display: flex;
    flex-direction: column-reverse;
  }
  // .section__projects .project-div div {
  //   padding-top: 3rem;
  //   padding-bottom: 3rem;
  // }
}
