/* ABOUT SECTION */

.section__about {
  background-color: #141414;
  padding: 6rem 2rem 8rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #efefef;
  transform: skew(-5deg) rotate(-5deg);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2) inset;
  /* clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%); */

  .skills-div {
    padding: 2rem;
    width: 80%;
    margin: 2rem auto;
    color: $color-light;
    display: flex;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);

    div {
      width: 33%;
      padding: 0 1rem;

      h3 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid $color-light;
      }

      h4 {
        font-size: 1.4rem;
        margin-bottom: 0.8rem;
        border-bottom: 1px solid darken($color-light, 75%);
      }

      h5 {
        font-size: 1.1rem;
        padding-bottom: 0.8rem;
      }

      ul {
        padding-bottom: 0.8rem;
      }

      li {
        font-size: 1rem;
        margin: 0.2rem 0 0.2rem 1rem;
      }
    }
  }
}

.section__about h1 {
  padding-top: 5rem;
  font-size: 5rem;
  text-align: center;
}

.section__about p {
  padding: 1rem 2rem;
}

.section__about img {
  padding: 1rem 2rem;
}

.section__about .section__about--link {
  text-decoration: none;
  text-align: center;
  width: 75%;
  font-size: 1.6rem;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  background-color: #efefef;
  color: #141414;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
}

.section__about .section__about--link:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
}
