/* PROJECTS SECTION */

.section__projects {
  margin-top: 6rem;
  width: 100%;
  padding-bottom: 12rem;
  background-color: $color-dark;
  transform: skew(-5deg) rotate(-5deg);

  h1 {
    padding: 5rem 1rem 01rem;
    font-size: 5rem;
    text-align: center;
    color: $color-light;
  }

  .githublogo {
    color: white;
    text-align: center;
    text-decoration: none;
    span {
      display: block;
      margin-top: 0.5rem;
      text-align: center;
    }
  }

  .project-div {
    padding: 2rem;
    width: 80%;
    margin: 2rem auto;
    background: $color-light;
    display: flex;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);

    h2 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    &__tags {
      font-family: "Staatliches", sans-serif;
      color: $color-accent;
      padding: 2rem 0;
      font-size: 1.5rem;
      span {
        color: $color-dark;
      }
    }

    &__description {
      width: 75%;
      padding: 0 3rem 0 0;
    }

    &__card {
      padding: 1rem;
      margin: auto;
      //box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2);
    }

    &__links {
      text-decoration: none;
      font-size: 1.2rem;
      padding: 1rem;
      margin: 1rem 0;
      background-color: $color-light;
      color: $color-dark;
      transition: all 0.2s;
      width: 100%;
      /* box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2); */
      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
      }
      &:active {
        transform: translateY(1px);
      }
    }
  }
}
