/* WELCOME SECTION */

.section__welcome {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  align-items: center;
  justify-content: center;
  background-color: $color-light;

  h1 {
    font-size: 10rem;
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  h2 {
    font-size: 5rem;
    animation: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    text-align: center;
  }
}
